# Node modules
node_modules/

# iOS
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/


# Android
android/app/build/
android/build/
.gradle/
local.properties
*.iml

# Otros archivos temporales o de configuración
.DS_Store
.env

# Dependencias de desarrollo (opcional)
/metro.config.js.bak

# Archivos específicos de tu IDE (opcional)
.idea/
.vscode/
